body {
margin: 0;
	paddin: 0;
	background: url(bg.jpg) fixed;
	background-size: cover;
	position: absolute;
}

.box{
width: 1300px;
height: 50px;
margin-left: 14%;
}

.floating-iiii {
	width: 150px;
	height:60px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-i {
	width: 150px;
	height:60px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-imag{
	width: 150px;
	height:60px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-box {
    display: inline-block;
	width: 480px;
    height: 45px;
	margin-top: 30%;
    margin-left: 7%; 
	text-align: center
	font-family: 'Bradley hand ITC', sans-serif;
}

.floating-box-img{
	width: 300px; 
	height: 450px;
	margin: right;
    margin-left: 70%;
	margin-top: 0%;	
	position: absolute;
	left: -19px;
	top: 15%;
	border-radius: 40px;
}

.body p{
	font-size: 40px;
	margin-top:  40%;
	margin-left: 10%;
	text-align: center;
	
}

.body h3{
	margin-left: 60%;
	margin-top: 0%;
}